::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background: #898da6;
}
::-webkit-scrollbar-corner {
    border-radius: 4px;
}
@font-face {
    font-family: "Cera Pro";
    src: url("./fonts/CeraPRO.woff") format("woff");
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url("./fonts/CeraPRO-Bold.woff") format("woff");
}
@font-face {
    font-family: "Cera Pro Med";
    src: url("./fonts/CeraPRO-Medium.woff") format("woff");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Cera Pro", sans-serif !important;

    font-size: 1rem;
    line-height: 1.5 !important;
    color: #898da6;
    text-align: left;
    background-color: #fff;
}

@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-xl {
        max-width: 1140px;
    }
    .container-lg {
        max-width: 1200px;
    }
}

.cera-pro-bold {
    font-family: "Cera Pro Bold", sans-serif !important;
}
.cera-pro-med {
    font-family: "Cera Pro Med", sans-serif !important;
}
button svg{
    transform: translateY(-20%) !important;
}
